:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --color-title: #212121;
  --color-text: #757575;
  --white-color: #ffffff;
  --bgrnd-color: #2f303a;
}

/* header */

body {
  font-family: var(--main-font);
  color: var(--color-title);
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.address {
  font-style: normal;
}

.logo-head {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: #000000;
}

.logo-05 {
  color: var(--accent-color);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.info-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.info-link:hover,
.info-link:focus {
  color: var(--accent-color);
}

.tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.tel-link:hover,
.tel-link:focus {
  color: var(--accent-color);
}

/* / header */

/* hero */

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 0.73;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #2f303a;
}

.madal-btn {
  font-family: "Roboto", inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background-color: var(--accent-color);
}

/* / hero */

/* advantages */
.advantages-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 0.87;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-title);
}

.advantages-text {
  font-family: var(--main-font);
  font-weight: normal;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* / advantages */

/* products company */
.products-company-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
}
/* / products company */

/* our team */
.our-team-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 36px;
  line-height: 0.85;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.our-team-specialists {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--color-title);
}

.our-team-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.84;
  letter-spacing: 0.03em;
  color: var(--color-text);
}

/* / our team */

/* footer */

.logo-foot {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 0.83;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.foot-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: var(--white-color);
}

.foot-link {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.foot-tel {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 0.58;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  background-color: var(--bgrnd-color);
}

/* /footer */

/*==================portfolio=============== */

/* filter-btn */
.btn-btn {
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 0.61;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--color-title);
  background-color: #f5f4fa;
  cursor: pointer;
}

.btn-btn :hover,
.btn-btn :focus {
  color: var(--white-color);
  background-color: var(--accent-color);
}
/* / filter-btn */

/* products */

.prod-title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 18px;
  line-height: 0, 5;
  letter-spacing: 0.06em;
  color: var(--color-title);
}

.prod-text {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 16px;
  line-height: 0.53;
  letter-spacing: 0.03em;
  color: var(--color-text);
}
/* / products */
